<nav>
  <div>
    <a href="/products/carts/{{user.cart}}" id="cart">Cart</a>

    <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
    </button>
    <div id="navbarSupportedContent">
      <ul>
        <li>
          <a href="/api/jwt/current">Profile</a>
        </li>
        {{#if onlyUser}}
        <li>
          <a href="/products/chat">Messages</a>
        </li>
        {{/if}}
        {{#if userAdmin}}
        <li>
          <a href="/products/realTimeProducts">RealTimeProducts</a>
        </li>
        {{/if}}
      </ul>


      {{#if user}}
      <a href="/api/jwt/logout">Logout</a>
      {{else}}
      <a href="/api/jwt/login">Login</a>
      {{/if}}
    </div>
  </div>
</nav>

{{#if user}}
<div>
  <h1>Welcome {{user.role}}: {{user.first_name}} {{user.last_name}} !</h1>
</div>
{{/if}}

<div>

  <div>
    <a href="http://localhost:8080/products?limit={{products.limit}}&page={{products.page}}&sort=asc"
      >asc</a>
    <a href="http://localhost:8080/products?limit={{products.limit}}&page={{products.page}}&sort=desc"
      >desc</a>
  </div>

  <div>
    {{#if products.hasPrevPage}}
    <a href="http://localhost:8080/products?limit={{products.limit}}&page={{products.prevPage}}"
     >Prev</a>
    {{/if}}
    {{#if products.hasNextPage}}
    <a href="http://localhost:8080/products?limit={{products.limit}}&page={{products.nextPage}}"
      >Next</a>
    {{/if}}
  </div>

  <div  style="position: relative;">
    <form action="/products" method="GET">
      <div>
        <div>
          <label for="category">Category:</label>
          <select name="category" id="category">
            <option value="">All</option>
            <option value="lacteos">Lacteos</option>
            <option value="aceites">Aceites</option>
          </select>
        </div>
        <div>
          <label for="stock">Stock:</label>
          <input type="number" name="stock" id="stock" min="0" value="{{products.stock}}">
        </div>
        <div>
          <label for="limit">Limit:</label>
          <input type="number" name="limit" id="limit" min="1" max="100" value="{{products.limit}}">
        </div>
      </div>
      <button type="submit">Apply Filters</button>
    </form>
    <div style="position:absolute; bottom:24; left:0">
      <button id="clearFilters">Clear Filters</button>
    </div>
  </div>

  <div>
    {{#if userAdmin}}
    {{#each products.payload}}
    <div>
      <div>
        <div>
          <button onclick="addCart(`{{this._id}}`)" disabled>Add
            To Cart</button>
          <div
            style="width: 35px; height: 35px;">
            <a href="http://localhost:8080/products/product/{{this._id}}"
              >Info</a>
          </div>
        </div>
        <div>
          <img src="/img/{{this.thumbnails.[0]}}"
            alt="{{this.title}}" />
        </div>
        <div>
          <div>
            <p><a href="#!">{{this.category}}</a></p>
            <p><s>${{this.price}}</s></p>
          </div>

          <div>
            <h5>{{this.title}}</h5>
            <h5>${{this.price}}</h5>
          </div>

          <div>
            {{#if this.status}}
            <p>Available: <span>{{this.stock}}</span></p>
            {{else}}
            <p>Out of stock</p>
            {{/if}}
            <div>
              <i></i>
              <i></i>
              <i></i>
              <i></i>
              <i></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
    {{/if}}

    {{#if onlyUser}}
    {{#each products.payload}}
    <div>
      <div>
        <div>
          <button onclick="addCart(`{{this._id}}`)">Add To
            Cart</button>
          <div
            style="width: 35px; height: 35px;">
            <a href="http://localhost:8080/products/product/{{this._id}}"
              >Info</a>
          </div>
        </div>
        <div>
          <img src="/img/{{this.thumbnails.[0]}}" 
            alt="{{this.title}}" />
        </div>
        <div>
          <div>
            <p><a href="#!">{{this.category}}</a></p>
            <p><s>${{this.price}}</s></p>
          </div>

          <div>
            <h5>{{this.title}}</h5>
            <h5>${{this.price}}</h5>
          </div>

          <div>
            {{#if this.status}}
            <p>Available: <span>{{this.stock}}</span></p>
            {{else}}
            <p>Out of stock</p>
            {{/if}}
            <div>
              <i></i>
              <i></i>
              <i></i>
              <i></i>
              <i></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
    {{/if}}
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>
<script>
  const clearFilters = document.getElementById("clearFilters");
  clearFilters.addEventListener("click", () => {
    window.location.href = "/products";
  });
</script>
<style>
  .aspect-ratio-box {
    position: relative;
    overflow: hidden;
    padding-top: 100%;
  }

  .aspect-ratio-box-inside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
</style>