<div class="container my-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">User: {{ticket.purchaser}}</h5>
          <h4 class="card-title">Thanks for your order</h4>
          <h6 class="card-subtitle mb-2 text-muted">Purchase Summary</h6>
          <hr />
          <div class="mb-3">
            <span>Purchase Code</span>
            <span>{{ticket.code}}</span>
          </div>
          <div class="mb-3">
            <span>Date</span>
            <span>{{formatDate ticket.purchase_datetime}}</span>
          </div>
          <hr />
          <h6 class="card-subtitle mb-2">Purchased products</h6>

          {{#each ticket.products}}
            <div class="mb-3">
              <div>
                <span>{{this.product.title}}</span>
              </div>
              <div>
                <span>quantity: {{this.quantity}}</span>
              </div>
              <div>
                <span>${{this.product.price}} C/U</span>
              </div>
            </div>
          {{/each}}
          <hr />
          <hr />
          <div class="mb-3">
            <span>Total</span>
            <span>${{ticket.amount}}</span>
          </div>

          <div>
            <button id="ordenConfirm" class="btn btn-primary">Track your order</button>
          </div>

          {{#if existNotPurchased}}
            <div class="mt-4">
              <h4>Products not included in the purchase due to lack of stock</h4>
              {{#each productsNotPurchased.products}}
                <div class="mb-3">
                  <div>
                    <span>{{this.product.title}}</span>
                  </div>
                  <div>
                    <span>quantity: {{this.quantity}}</span>
                  </div>
                  <div>
                    <span>${{this.product.price}} C/U</span>
                  </div>
                </div>
              {{/each}}
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("ordenConfirm").addEventListener("click", () => {
  window.location.href = `/products`;
  });
</script>
